@model BirdRecogniser02.Models.Submission

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Submission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirdInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirdInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SubmissionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
