@model IEnumerable<BirdRecogniser02.Models.Submission>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BirdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirdInformation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                Bird Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BirdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirdInformation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                 <img decoding="async" src="@("~/image/"+item.FileName)" asp-append-version="true" width="75px" height="75px" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubmissionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubmissionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubmissionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
